body{

margin:0;
font-family:Arial;
background:black;
color:white;
text-align:center;

}

#grid{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;

}

header{

display:flex;
justify-content:space-between;
padding:20px 40px;

}

.logo{

color:cyan;
text-shadow:0 0 20px cyan;

}

nav a{

color:white;
margin-left:20px;
text-decoration:none;

}

.card{

margin:80px auto;
width:500px;
padding:40px;

background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);

border-radius:15px;

box-shadow:0 0 20px cyan;

}

.avatar{

width:140px;
border-radius:50%;
border:3px solid cyan;

}

.btn{

display:inline-block;
margin-top:20px;
padding:10px 20px;

background:cyan;
color:black;

border-radius:10px;

text-decoration:none;

}

.skill{

margin:20px 0;

}

.bar{

background:#222;
height:10px;

border-radius:10px;

}

.bar div{

background:cyan;
height:10px;

border-radius:10px;

}

#repo{

display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;

}

.project{

background:#111;
padding:20px;
width:200px;

border-radius:10px;

box-shadow:0 0 10px cyan;

}

.ai-box input{

padding:10px;
width:60%;

}

.ai-box button{

padding:10px;

background:cyan;
border:none;

}